.information_collab {
    display: flex;
    flex-flow: column;
    text-align: start;
    width: 54%;
}
.category {
    width: 42%;
    align-self: self-end;
    background: #60a5fa;
}
.name_category {
    text-align: center;
}
.contact {
    color: red;
   
}

.img_profile {
    height: 217px;
}

.container_btn_update_delete {
    display: flex;
    justify-content: space-around;
    width: 36%;
    margin: auto;
}

button.btn_update_delete {
    display: flex;
    align-items: center;
    height: 20px;
    border: navajowhite;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}