form.container_form {
    display: flex;
    flex-direction: column;
    width: 37%;
    border: 0.2px solid black;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 2% auto;
}

.section_data_select {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
    margin: 1% auto;
}
.section_data {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
    margin: 1% auto -6% auto;
}

.input_data_select {
    width: 53%;
    height: 20px;
}

.input_data {
    width: 50%;
    height: 20px;
}
.section_data_date {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 50%;
    margin: 1% auto -1% auto;
}
.input_data_date {
    width: 50%;
    height: 20px;
}

button.btn_info_collab {
    margin-top: 10%;
}